<phpunit backupGlobals="false" beStrictAboutTestsThatDoNotTestAnything="false">
    <testsuites>
        <testsuite name="Contracts">
            <file>tests/Example1Test.php</file>
            <file>tests/Example2Test.php</file>
            <file>tests/Example3Test.php</file>
            <file>tests/Example4Test.php</file>
        </testsuite>
        <testsuite name="Contexts">
            <directory>tests/Context</directory>
            <directory>tests/Contract</directory>
        </testsuite>
    </testsuites>
</phpunit>
